.firstAvatar {
  height: auto;
  border-radius: 10%;
	display: block;
  margin-right: auto;

  @media (min-width: 767px) {
	  max-width: 55%;
	  width: 100%
  }
  @media (max-width: 767px) {
  	margin-top: 0px;
	  max-width: 35%;
  }
  @media (max-width: 667px) {
  	margin-top: 0px;
	  max-width: 40%;
  }
  @media (max-width: 500px) {
  	margin-top: 0px;
	  max-width: 50%;
  }
}
